.lush{
    font-family: 'The Nautigal', cursive;
}

.att{
    font-family: 'Splash', cursive;
}

.him{
    font-family: 'Shadows Into Light', cursive;
}

.first--img{
    width: 415.183px;
    height: 418.85px;
   
}

.collection--sidebar{
    flex : 1
}

.collection--mainbar {
    flex: 2
}

.icons {
    font-size: 25px !important;
    padding: 3px;
    border: 2px rgb(151, 148, 145) solid;
    margin-left: 8px;
    cursor: pointer;
}

.icons:hover{
    background-color: burlywood;
}