.lush{
    font-family: 'The Nautigal', cursive;
}

.att{
    font-family: 'Splash', cursive;
}

.him{
    font-family: 'Shadows Into Light', cursive;
}

.first--img{
    width: 415.183px;
    height: 418.85px;
    display: none;
}